<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<header>
    <nav>
        <a class="active" th:href="@{/index}">Home</a>
        <a th:href="@{/contact}">Contact and questions</a>
        <a th:href="@{/about}">About us</a>
        <a th:href="@{/temperature}">Submit your temperature</a>
    </nav>
</header>
<main>
    <div>
        <img id="under-construction" th:src="@{/img/under-construction.png}" width="500px" alt="Under construction"/>
    </div>
</main>
<footer>
</footer>
</body>
</html>